html {
  color: #222F3E;
  font-size: 16px;
}
h1 {
  color: #222F3E;
  font-family: 'Playfair Display';
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2em;
  margin: 0 0 14px;
}
h2 {
  color: #1c3456;
  font-family: 'Poppins';
  font-size: 26px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0 0 16px;
}
h3 {
  color: #222F3E;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .01em;
  line-height: 1.2em;
  margin: 0 0 12px;
}
h5 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
h5 + p {
  margin-top: 1em;
}
p {
  line-height: 1.4em;
  margin: 0;
}
p + p {
  margin-top: 1em;
}
a {
  color: #2962ff;
  text-decoration: none;
}
ul {
  margin: 0;
  padding-left: 20px;
}
li + li {
  margin-top: 1em;
}
strong {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 54px;
    margin: 0 0 20px;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 76px;
    margin: 0 0 0;
  }
}
